<button mat-raised-button color="primary" (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon>Return</button>
<button mat-raised-button color="green" routerLink="/cats/cat1"><mat-icon>pets</mat-icon>Cat1</button>
<button mat-raised-button color="green" routerLink="/cats/cat2"><mat-icon>pets</mat-icon>Cat2</button>

<ng-container >
  <div class="container" *ngIf="show">
    <div class="gallery">
        <figure *ngFor="let cat of cats$ | async; let i = index" class="gallery__item gallery__item--{{i+1}}">
            <img [src]="cat.url" alt="Gallery image {{i+1}}" class="gallery__img">
        </figure>
    </div>
  </div>
</ng-container>

